<a href="https://colab.research.google.com/github/KijoSal-dev/python_assignment/blob/main/python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#1)Extract the first 5 characters from a string using slicing.

char = 'abcde'
print(char[0:5])

abcde

In [6]:
#2)Get the last element of a list using indexing.

my_list = [10, 20, 99, 100]
print(my_list[-1])

100

In [9]:
#3)Reverse a string using slicing.

text = 'techstars'
print(text[::-1])

sratshcet

In [18]:
#4)Create a list of numbers from 1 to 10 and print only the elements at even indices.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[::2])

[1, 3, 5, 7, 9]

In [14]:
#5)Change the value of the third element in a list.

my_list = [10, 20, 30, 40, 50]
my_list[2] = 53
print(my_list)

[10, 20, 53, 40, 50]

In [15]:
#6)Create a tuple and print its second and last elements.

my_list = [100, 85, 70, 51, 40, 30, 15]
my_tuple = tuple(my_list)
print(my_tuple[1])
print(my_tuple[-1])

85
15

In [16]:
#7)Convert a tuple into a list.

my_tuple = (10,40, 60, 80, 100)
my_list = list(my_tuple)
print(my_list)

[10, 40, 60, 80, 100]

In [22]:
#8)Check whether a number is positive, negative, or zero using if-elif-else.

number = -50

if number > 0:
    print("Positive")
if number < 0:
  print("Negative")
else:
  print("The number is zero")

Negative

In [24]:
#9)Check whether a number is even or odd.

number = 75

if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [27]:
#10)Use a for loop to print numbers from 1 to 20.

for i in range(1,21):
     print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [28]:
#11)Use a while loop to print numbers from 10 to 1.

i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [31]:
#12)Find the sum of all elements in a list using a loop.

my_list = [10, 20, 30, 40, 80]
sum = 0
for i in my_list:
    sum += i
print(sum)

180

In [32]:
#13)Print all numbers divisible by 3 from a list.

my_list = [30, 45, 3, 9, 20, 50, 60, 90, 99, 5, 55, 34]
div = 3
for i in my_list:
  if i % div == 0:
    print(i)

30
45
3
9
60
90
99

In [35]:
#14)Count how many times a specific value appears in a list


my_list = [100, 15, 30, 40, 100, 45, 40, 90, 3, 9, 100]

count = my_list.count(100)
print(count)

3

In [36]:
#15)Use a loop and conditional statements to find the largest number in a list.

my_list = [40, 550, 890, 1000, 10000]
largest = my_list
print(max(largest))

10000